.catSearchBar {
  align-items: center;
  background-color: var(--color-background);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-inline: auto;
  padding: 1rem;
  width: min(50ch, 100%);
}

.catSearchBarInput,
.catSearchBarSelect {
  width: 100%;
}

.catSearchBarButton {
  background-color: var(--color-primary);
  display: block;
  color: white;
  padding: 0.5rem;
  width: max-content;
}
